html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

.title-page {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ecf0f1;
}

.citation-page {
    padding: 20px;
    text-align: center;
    position: relative;
    top: 40vh;
}

.btn-start {
    position: absolute;
    left: 50%;
    bottom: 10vh;
    transform: translate(-50%, -50%);
}

.main-page {
    margin: 0;
    background-color: #3498db !important;
}

.post-page {
    margin: 0;
    background-color: #2979ff;
}

.list-topic {
    background-color: lightskyblue;
    padding: 2vh;
}

label {
    color: white;
}

#rules-section, #sign-in-section, #choose-section, #sign-up-section{
    display: none;
}


#choose-section, #sign-up-section, #sign-in-section, #rules-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}